footer {
    border-top: 1px solid gray;
    margin-top: 2em;
    padding: 0 1em 0 1em;
}

/**
BOOKMARK CARD
 */

.card-bookmark {
    display: inline-block;
    width: 18rem;
    margin: 5px;
}
.card-bookmark .card-header {
    /*background-color: red; !*test ok*!*/
    font-size: 12px;
    height: 50px;
}

.card-bookmark .card-header .bookmark-name {
    /*background-color: red; !*test ok*!*/
    display: inline-block;
    width: 60%;
}

.card-bookmark .card-header .bookmark-buttons {
    /*background-color: red; !*test ok*!*/
    display: inline-block;
    border-left: solid 1px lightgrey;
    float: right;
}

.card-bookmark .card-body {
    font-size: 12px;
    height: 50px;
}

.card-bookmark .card-footer {
    height: 35px;
    font-size: 10px;
    color: #505050;
    font-style: italic;
}

/**
NEW FOLDER BUTTON
 */

#btn-new-folder {

}

/**
FOLDER'S TREE
 */

#menu-folders-tree button {

}

#menu-folders-tree button {
    margin: 0px;
    padding: 1px;
    width: 3em;
}

#menu-folders-tree .title {
    border-top: 1px solid gray;
    background-color: lightgray;
}

#menu-folders-tree .row {
    border-left: 10px solid grey;
    border-top: 1px solid lightgrey;
    margin: 1em 0 0 0;
}

#menu-folders-tree .row .col {
    margin-top: auto;
    margin-bottom: auto;
}

/**
FOLDER'S CONTENT
 */

#content-main .title {
    border-top: 1px solid gray;
    background-color: lightgray;
}